
.news-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;

}

.news-item {
    width: 500px;
    padding: 20px;
    border: 1px solid;
    margin-bottom: 20px;
}

.news-img {
    width: 400px;
}
